In [1]:
#Importing the library
import pandas as pd
import numpy as np
import requests
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
#importing the Web driver
dr=webdriver.Chrome(r"C:\Users\Ranjit M\chromedriver.exe")
import time as tm
# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import re

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [15]:
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
dr.get(url)
ul=dr.find_element_by_xpath("//span[@class='plainlinks']/a")
dr.get(ul.get_attribute('href'))
ul1=dr.find_element_by_xpath("//div[@class='mw-search-result-heading']/a")
dr.get(ul1.get_attribute('href'))

In [16]:
#creating Empty list
rank=[]
name=[]
uploader=[]
date=[]
viwes=[]

#Rank
try:
    r_tag=dr.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
    for r in r_tag:
        rank.append(r.text)
except NoSuchElementException:
    rank.append("--")

#video name
try:
    v_tag=dr.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
    for i in v_tag:
        if i.text is None:
            name.append(i.get_attribute('title'))
        else:
            name.append(i.text)
except NoSuchElementException:
    name.append("--")
    

#uploader
try:
    u_tag=dr.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
    for u in u_tag:
        if u.text is None:
            uploader.append(v.get_attribute('title'))
            print("No!! Text Avilable")
        else:
            uploader.append(u.text)
except NoSuchElementException:
    uploader.append("--")

#viwes
try:
    v_tag=dr.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
    for e in v_tag[:30]:
        viwes.append(e.text)
except NoSuchElementException:
    views.append("--")
#Date
try:
    d_tag=dr.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
    for d in d_tag[:30]:
        date.append(d.text)
except NoSuchElementException:
    date.append("--")
#creating the dataframe
youtube=pd.DataFrame({"Rank":rank[:30],"Name":name[:30],"Uploader/Artist":uploader[:30],"Views(Billion)":viwes[:30],"Upload Date":date[:30]})
#saving into csv file
youtube.to_csv("Top_views_videos.csv")
youtube

,Rank,Name,Uploader/Artist,Views(Billion),Upload Date
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,7.91,"June 17, 2016"
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,7.20,"January 12, 2017"
2,3.,"""Shape of You""[31]",Ed Sheeran,5.18,"January 30, 2017"
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,4.96,"April 6, 2015"
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,4.77,"October 8, 2016"
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.41,"January 31, 2012"
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,4.09,"November 19, 2014"
7,8.,"""Gangnam Style""[38]",Psy,3.97,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,3.69,"February 27, 2018"
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,3.64,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,3.53,"March 6, 2014"
11,12.,"""Sorry""[43]",Justin Bieber,3.40,"October 22, 2015"
12,13.,"""Sugar""[44]",Maroon 5,3.39,"January 14, 2015"
13,14.,"""Roar""[45]",Katy Perry,3.27,"September 5, 2013"
14,15.,"""Counting Stars""[46]",OneRepublic,3.19,"May 31, 2013"
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,3.18,"October 7, 2014"
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,3.11,"April 5, 2018"
17,18.,"""Shake It Off""[49]",Taylor Swift,3.02,"August 18, 2014"
18,19.,"""Faded""[50]",Alan Walker,2.98,"December 3, 2015"
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,2.97,"March 22, 2015"
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,2.97,"April 11, 2014"
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,2.97,"February 20, 2014"
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,2.96,"May 31, 2018"
23,24.,"""Let Her Go""[55]",Passenger,2.91,"July 25, 2012"
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,2.86,"June 29, 2017"
25,26.,"""Hello""[57]",Adele,2.79,"October 22, 2015"
26,27.,"""Perfect""[58]",Ed Sheeran,2.74,"November 9, 2017"
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,2.74,"June 4, 2010"
28,29.,"""Blank Space""[60]",Taylor Swift,2.72,"November 10, 2014"
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,2.62,"November 18, 2016"

# 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

In [8]:
dr.get('https://www.bcci.tv/')
fixture_link=dr.find_element_by_xpath("//li[@class='drop-down__option  ']/a")#Extracting the Fixture link from xpath
dr.get(fixture_link.get_attribute('href'))#getting the Fixture page
match_date=[]
Match_name=[]
series_name=[]
place=[]
time=[]

In [9]:
#Match Date
match_date=[]
try:
    match_date_tag=dr.find_elements_by_xpath("//div[@class='fixture__full-date']")#Extracting the Match date from xpath
    for m in match_date_tag:
        match_date.append(m.text)
except NoSuchElementException:
    match_date.append("--")

In [10]:
#Match Name
try:
    Match_name_tag=dr.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")#Extracting the Match name from xpath
    for n in Match_name_tag:
        Match_name.append(n.text)
except NoSuchElementException:
    Match_name.append("--")

In [11]:
#Series name
try:
    series_name_tag=dr.find_elements_by_xpath("//span[@class='u-unskewed-text fixture__tournament-label u-truncated']")#Extracting the series name from xpath
    for s in series_name_tag:
        series_name.append(s.text)
except NoSuchElementException:
    series_name.append("--")

In [12]:
#Place
try:
    Place_tag=dr.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")#Extracting the place from xpath
    for p in Place_tag:
        place.append(p.text)
except NoSuchElementException:
    place.append("--")

In [13]:
#Time
try:
    time_tag=dr.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")#Extracting the Match time from xpath
    for t in time_tag:
        time.append(t.text)
except NoSuchElementException:
    tim.append("--")

In [14]:
#creating A DataFrame
BCCI=pd.DataFrame({"Match title":Match_name,"Series":series_name,"Place":place,"Date":match_date,"Time":time})
#trying to concanet the date and month
dt=[]
month=[]
for i in range(len(BCCI["Date"])):
    sheduled=BCCI['Date'].iloc[i].split('\n')
    try:
        dt.append(sheduled[0].strip().upper())
    except:
        dt.append("None")
    try:
        month.append(sheduled[1].strip().upper())
    except:
        month.append("None")
BCCI["dt"]=dt
BCCI["MO"]=month
BCCI["DATE"]=BCCI["dt"].astype(str).str.cat(BCCI["MO"].astype(str), sep=" ")
BCCI.drop(columns=["Date","MO","dt"],axis=1,inplace=True)
#save as csv file
BCCI.to_csv("TEAM_INDIA_FIXTURE.csv")
BCCI

,Match title,Series,Place,Time,DATE
0,2nd Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",09:30 IST,13 FEBRUARY
1,3rd Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",14:30 IST,24 FEBRUARY
2,4th Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",09:30 IST,04 MARCH
3,1st T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,12 MARCH
4,2nd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,14 MARCH
5,3rd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,16 MARCH
6,4th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,18 MARCH
7,5th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",19:00 IST,20 MARCH
8,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,23 MARCH
9,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,26 MARCH
10,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",13:30 IST,28 MARCH
11,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",15:30 IST,04 AUGUST
12,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",15:30 IST,12 AUGUST
13,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",15:30 IST,25 AUGUST
14,4th Test,ENGLAND V INDIA 2021,"The Oval, London",15:30 IST,02 SEPTEMBER
15,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",15:30 IST,10 SEPTEMBER

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [17]:
# Opening the homepage guru99
dr.get('https://www.guru99.com/')
m=dr.find_element_by_xpath("//div[@class='featured-box cloumnsize1']/ul/li[3]/a")
dr.get(m.get_attribute('href'))
s=''#empty string
ex=dr.find_elements_by_xpath("//td[@class='responsivetable']/a")  #extracting the url for all blogs
for i in ex[68:69]: #getting the url of exception-handling
    s+=(i.get_attribute('href'))
dr.get(s) #going to the exception-handling page
Exception_name=[]#empty list
description=[]#empty list
try:
    Exception_name_tag=dr.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")#extracting the Exception Name from xpath
    for E in Exception_name_tag:
        Exception_name.append(E.text)
except NoSuchElementException:
      Exception_name.append("NaN")#if NoSuchElement is there  then adding NaN
try:
    description_tag=dr.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")#extracting the Description from xpath
    for D in description_tag:
        description.append(D.text)
except NoSuchElementException:
      description.append("NaN")#if NoSuchElement is there  then adding NaN
#creating the data fram
Selenium=pd.DataFrame({"Exception Name":Exception_name[1:],"Description":description[1:]})
#saving in csv format
Selenium.to_csv("Selenium_exception_handling.csv")
Selenium

,Exception Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)

In [18]:
url="http://statisticstimes.com/"
dr.get(url)
rank=[]
state=[]
gsdp_18_19=[]
gsdp_19_20=[]
share=[]
gdp=[]
ind_eco=dr.find_element_by_xpath("//div[@style='background-color:#4d94ff; width:1150px;height: 100px;']/div/div[2]/div/a[3]")#extracting economy page from xpath
dr.get(ind_eco.get_attribute('href'))#going to india economic page
india_states=dr.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
dr.get(india_states.get_attribute('href')) #going to india economy page
try:

    rank_tag=dr.find_elements_by_xpath("//tr[@class='odd']/td[1]")#Extracting ranks from xpath
    for i in rank_tag:
        rank.append(i.text)
except NoSuchElementException:
    rank.append("NaN")
try:
    
    state_tag=dr.find_elements_by_xpath("//tr[@class='odd']/td[2]")#Extracting states from xpath
    for st in state_tag:
        state.append(st.text)
except NoSuchElementException:
    state.append("NaN")#if didn't grt the element then appending NaN
try:
    gsdp_tags=dr.find_elements_by_xpath("//tr[@class='odd']/td[4]")#Extracting GSDP from xpath
    for i in gsdp_tags:
        gsdp_18_19.append(i.text)
except NoSuchElementException:
    gsdp_18_19.append("NaN")#if didn't grt the element then appending NaN
try:
    gdp_tag=dr.find_elements_by_xpath("//tr[@class='odd']/td[6]") #Extracting gdp from xpath
    for i in gdp_tag:
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append("NaN")#if didn't grt the element then appending NaN
try:
    gsdp_19_20_tag=dr.find_elements_by_xpath("//tr[@class='odd']/td[3]")#Extracting GSDP 19-20 from xpath
    for n in gsdp_19_20_tag:
        gsdp_19_20.append(n.text)
except NoSuchElementException:
    gsdp_19_20.append("NaN") #if didn't grt the element then appending NaN
try:
    share_18=dr.find_elements_by_xpath("//tr[@class='odd']/td[5]")#Extracting share_2018 from xpath
    for i in share_18:
        share.append(i.text)
except NoSuchElementException:
    share.append("NaN") #if didn't grt the element then appending NaN   
GDP=pd.DataFrame({"Rank":rank,"State":state,"GSDP 19-20":gsdp_19_20,"GSDP 18-19":gsdp_18_19,
                  "Share 18_19":share,"GDP($billion)":gdp})                         #putting into dataframe
GDP.to_csv("INDIA_GDP.csv")#save as csv file
GDP.head(10)

  Rank        State GSDP 19-20 GSDP 18-19 Share 18_19 GDP($billion)
0    1  Maharashtra          -  2,632,792      13.88%       398.145
1    3   Tamil Nadu  1,845,853  1,630,208       8.59%       246.529
2    5      Gujarat          -  1,502,899       7.92%       227.276
3    7    Rajasthan  1,020,989    942,586       4.97%       142.543
4    9    Telangana    969,604    861,031       4.54%       130.210
5   11       Kerala          -    781,653       4.12%       118.206
6   13      Haryana    831,610    734,163       3.87%       111.024
7   15       Punjab    574,760    526,376       2.77%        79.601
8   17        Assam          -    315,881       1.67%        47.769
9   19    Jharkhand    328,598    297,204       1.57%        44.945

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [5]:
url='https://github.com/'
dr.get(url)
ex=dr.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
dr.get(ex.get_attribute('href'))
ex=dr.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
dr.get(ex.get_attribute('href'))

In [6]:
rep_Name=[]#repository name
rep_des=[]#derscriptin
rep_cont=[]#Contributors count
rep_lang=[]#Language Used

#repository name
try:
    rpt=dr.find_elements_by_xpath("//h1[@class='h3 lh-condensed']")
    for i in rpt:
        rep_Name.append(i.text)
except NoSuchElementException:#handling no such element exception
    rep_Name.append('No details available')
    
# repositories description
try:
    des=dr.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")
    for d in des:
        rep_des.append(d.text)
except NoSuchElementException:#handling no such element exception
    rep_des.append('No details available')
#countribution numbers
try:
    for i in list(dr.find_elements_by_xpath("//div[@class='f6 text-gray mt-2']/a[2]")):
        rep_cont.append(i.text)
except NoSuchElementException:#handling no such element exception
    rep_con.append('No details available')
#Language Used
try:
    for i in list(dr.find_elements_by_xpath("//div[@class='f6 text-gray mt-2']/span/span[2]")):
        rep_lang.append(i.text)
except NoSuchElementException:#handling no such element exception
    rep_lang.append('No details available')

In [7]:
Github=pd.DataFrame({"Repository title":rep_Name[:23],"Repository description":rep_des[:23],"Contributors count":rep_cont[:23],"Language used":rep_lang})
#saving in csv file
Github.to_csv("Github_trending.csv")
Github.head(10)

,Repository title,Repository description,Contributors count,Language used
0,Melvin-Abraham / Google-Assistant-Unofficial-D...,A cross-platform unofficial Google Assistant C...,54,JavaScript
1,benawad / dogehouse,The home for voice conversations.,125,TypeScript
2,flameshot-org / flameshot,Powerful yet simple to use screenshot software...,600,C++
3,ratfactor / ziglings,Learn the Zig programming language by fixing t...,21,Zig
4,adityatelange / hugo-PaperMod,"A fast, clean, responsive Hugo theme",246,HTML
5,libsdl-org / SDL,Simple Directmedia Layer,31,C
6,satwikkansal / wtfpython,What the f*ck Python? 😱,"2,140",Python
7,mbround18 / valheim-docker,Valheim Docker server with Odin the CLI tool.,19,Rust
8,deepmind / deepmind-research,This repository contains implementations and i...,"1,006",Jupyter Notebook
9,TheAlgorithms / Java,All Algorithms implemented in Java,"11,910",Java

# 6. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [19]:
url='https://www.billboard.com/' #url of billboard Hime Page
dr.get(url)#Getting The Page
hot100=dr.find_element_by_xpath("//ul[@class='header__submenu__list']/li[1]/a")#Extract the hot 100 url from xpath
dr.get(hot100.get_attribute('href'))

In [20]:
#Empty lists
s_name=[]
art_name=[]
lwr=[]
pr=[]
wob=[]

#song name
try:
    for i in list(dr.find_elements_by_xpath("//div[@class='chart-list container ']/ol/li/button/span[2]/span[1]")):#Extracting the song name from xpath
        s_name.append(i.text)
except NoSuchElementExpation:
    s_name.append("NA")#If getting NoSuchElementExpation then adding Not avilable(NA)
#Artist name
try:
    for a in list(dr.find_elements_by_xpath("//div[@class='chart-list container ']/ol/li/button/span[2]/span[2]")):#Extracting the Artist name from xpath
        art_name.append(a.text)
except NoSuchElementExpation:
    art_name.append("NA") #If getting NoSuchElementExpation then adding Not avilable(NA)
try:
    for l in list(dr.find_elements_by_xpath("//div[@class='chart-list container ']/ol/li/button/div/div[1]")):#Extracting the Last week on rank from xpath
        lwr.append(l.text)
except NoSuchElementExpation:
    lwr.append("NA")#If getting NoSuchElementExpation then adding Not avilable(NA)
#Peak rank
try:
    for p in list(dr.find_elements_by_xpath("//div[@class='chart-list container ']/ol/li/button/div/div[2]")):#Extracting Peak rank from xpath
        pr.append(p.text)
except NoSuchElementExpation:
    p.append("NA")#If getting NoSuchElementExpation then adding Not avilable(NA)
#Weeks on board
try:
    for w in list(dr.find_elements_by_xpath("//div[@class='chart-list container ']/ol/li/button/div/div[3]")):#Extracting week on board from xpath
        wob.append(w.text)
except NoSuchElementExpation:
    wob.append("NA")#If getting NoSuchElementExpation then adding Not avilable(NA)
#putting in data frame
HOT100=pd.DataFrame({"Soong Name":s_name,"Artist Name":art_name,
                    "Last Week Rank":lwr,"Peak Rank":pr,"Week On Board":wob})
#saving into csv file
HOT100.to_csv("HOT_100.csv")
HOT100

,Soong Name,Artist Name,Last Week Rank,Peak Rank,Week On Board
0,Drivers License,Olivia Rodrigo,,1,1
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,,-,96
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,,-,62
98,Almost Maybes,Jordan Davis,,-,95
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

In [2]:
url='https://www.naukri.com/'
dr.get(url)
rec=dr.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
dr.get(rec.get_attribute('href'))
tm.sleep(5)

In [3]:
search_bar=dr.find_element_by_xpath("//input[@class='sugInp']") # Finding the search bar using it's xpath
search_bar.send_keys("Data Science")
search_button=dr.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")   # Finding the xpath of search button
search_button.click()#clicking on the search button
tm.sleep(5)

In [4]:
Name=[]
des=[]
cmpny=[]
skill=[]
location=[]
#Name
try:
    for i in list(dr.find_elements_by_xpath("//p[@class='highlightable']/a[1]/span")):
        Name.append(i.text)
except NoSuchElementExpation:
    Name.append("NA")
try:
    for i in list(dr.find_elements_by_xpath("//p[@class='highlightable']/span[1]")):
        des.append(i.text)
except NoSuchElementExpation:
    des.append("--")
try:
    for i in list(dr.find_elements_by_xpath("//p[@class='highlightable']/a[2]")):
        cmpny.append(i.text)
except NoSuchElementExpation:
    cmpny.append("--")   
try:
    for i in list(dr.find_elements_by_xpath("//div[@class='hireSec highlightable']")):
        skill.append(i.text)
except NoSuchElementExpation:
    skill.append("--")
try:
    for i in list(dr.find_elements_by_xpath("//p[@class='highlightable']/span[2]")):
        if i.text is None:
            location.append("--")
        else:
            location.append(i.text)
except NoSuchElementExpation:
    location.append("--")


#creating The Data frame
Noukri=pd.DataFrame({"Name":Name[:48],"Designation":des[:48],
                    "Company":cmpny[:48],"Skill":skill[:48],"Location":location})
Noukri.to_csv("11122.csv")
Noukri

,Name,Designation,Company,Skill,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
29,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Noida
30,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",New Delhi
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
46,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore
47,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Chennai

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [21]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
dr.get(url)
#Creating Empty list
Name=[]#BookName
atr=[]#Author Name
sel=[]#volume sales
pub=[]#Publisher
gen=[]#Gener

#Book Name
try:
    for n in list(dr.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[2]")):#Extracting Book name from xpath
        Name.append(n.text)
except NoSuchElementExpation:
    Name.append("--")
#Author Name
try:
    for a in list(dr.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[3]")):#Extracting Author name from xpath
        atr.append(a.text)
except NoSuchElementExpation:
    atr.append("--")
#volume sales
try:
    for s in list(dr.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[4]")):#Extracting Volume Sales from xpath
        sel.append(s.text)

except NoSuchElementExpation:
    sel.append("--")
#Publisher
try:
    for p in list(dr.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[5]")):#Extracting Publisher name from xpath
        pub.append(p.text)
except NoSuchElementExpation:
    pub.append("--")
#Gener
try:
    for g in list(dr.find_elements_by_xpath("//div[@class='embed block']/table/tbody/tr/td[6]")):#Extracting Gener from xpath
        gen.append(g.text)
except NoSuchElementExpation:
    gen.append("--")
    
#Making DataFrame
Book=pd.DataFrame({"Book Name":Name,"Aouthor Name":atr,
                   "volume sales":sel,"Publisher":pub,"Gener":gen})
#Sving into csv file
Book.to_csv("Top_100_sealing_Novel.csv")
Book

,Book Name,Aouthor Name,volume sales,Publisher,Gener
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [22]:
url='https://www.imdb.com/list/ls095964455/'
dr.get(url)
name=[]
year=[]
rating=[]
time=[]
vote=[]
gener=[]
#show Name
try:
    for n in list(dr.find_elements_by_xpath("//div[@class='lister-item-content']/h3/a")):
        name.append(n.text)
except NoSuchElementException:
    name.append("--")
#Year
try:
    for y in list(dr.find_elements_by_xpath("//div[@class='lister-item-content']/h3/span[2]")):
        year.append(y.text)
except NoSuchElementException:
    year.append("--")
#gener
try:
    for g in list(dr.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[5]")):
        gener.append(g.text)
except NoSuchElementException:
    gener.append("--")
#Rating
try:
    for r in list(dr.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div[1]/span[2]")):
        rating.append(r.text)
except NoSuchElementException:
    rating.append("--")
#Running Time
try:
    for t in list(dr.find_elements_by_xpath("//div[@class='lister-item-content']/p/span[3]")):
        time.append(t.text) 
except NoSuchElementException:
    time.append("--")
#VOTE
try:
    for v in list(dr.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")):
        vote.append(v.text)
except NoSuchElementException:
    vote.append("--") 
#making a DataFrame 
IMDB=pd.DataFrame({"Show Name":name,"Year":year,"Gener":gener,"Rating":rating,"Running Time":time,"Vote":vote})
#saving into csv file
IMDB.to_csv("IMDB_100_TV_SHOW.csv")
IMDB.head(10)

,Show Name,Year,Gener,Rating,Running Time,Vote
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.3,57 min,"1,770,322"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,51 min,"822,472"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",8.2,44 min,"853,502"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.6,60 min,"256,223"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,43 min,"216,500"
5,Orange Is the New Black,(2013–2019),"Comedy, Crime, Drama",8.1,59 min,"278,937"
6,Riverdale,(2017– ),"Crime, Drama, Mystery",6.9,45 min,"118,108"
7,Grey's Anatomy,(2005– ),"Drama, Romance",7.6,41 min,"250,991"
8,The Flash,(2014– ),"Action, Adventure, Drama",7.7,43 min,"305,281"
9,Arrow,(2012–2020),"Action, Adventure, Crime",7.5,42 min,"407,646"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [23]:
dr.get("https://archive.ics.uci.edu/")#Home Page of UCI machine learning Repositories
tm.sleep(10)

In [25]:
alldt=dr.find_element_by_xpath("//span[2][@class='whitetext']/a")
dr.get(alldt.get_attribute('href'))

In [27]:
dna=[]#Name
dty=[]#Data Types
dt_task=[]#Default Task
atr_type=[]#Attribute type
insta=[]#instance
att=[]#Attributes
yr=[]#year
try:
    for i in list(dr.find_elements_by_xpath("//p[@class='normal']/b/a")):#Extracting Dataset name from xpath
        dna.append(i.text)
except NoSuchElementException:
    dna.append("--")
    
#Data Types
try:
    for i in list(dr.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p")):#Extracting Data types from xpath 
        dty.append(i.text)
except NoSuchElementException:
    dty.append("--")

#Default Task
try:
    for i in list(dr.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p")):#Extracting Defult task  from xpath
        dt_task.append(i.text)
except NoSuchElementException:
    dt_task.append("--")
#Attribute type
try:
    for i in list(dr.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p")):#Extracting Attribute type from xpath
        atr_type.append(i.text)
except NoSuchElementException:
    atr_type.append("--")
#instance
try:
    for i in list(dr.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p")):#Extracting instancetype from xpath
        insta.append(i.text)
except NoSuchElementException:
    insta.append("--")
#Attributes
try:
    for i in list(dr.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p")):#Extracting Attributes from xpath
        att.append(i.text)
except NoSuchElementException:
    att.append("--")
#year
try:
    for i in list(dr.find_elements_by_xpath("//table[@cellpadding='3']/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p")):#Extracting years from xpath
        yr.append(i.text)
except NoSuchElementException:
    yr.append("--")
#putting into DataFrame
UCI=pd.DataFrame({"Name":dna,"Data Types":dty[1:],"Default Task":dt_task[1:],
                 "Attribute Types":atr_type[1:],"Instances":insta[1:],
                 "Attributes":att[1:],"Year":yr[1:]})
#saving in csv file
UCI.to_csv("UCI_ALL_DATASET.csv")
UCI

,Name,Data Types,Default Task,Attribute Types,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
554,IIWA14-R820-Gazebo-Dataset-10Trajectories,,Regression,Integer,,,2020
555,Guitar Chords finger positions,Text,Classification,,2633,5,2020
556,Russian Corpus of Biographical Texts,Text,Classification,,200,2,2020
557,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020
558,Intelligent Media Accelerometer and Gyroscope ...,Time-Series,Classification,Real,800,9,2020

  #                                               THANK YOU