In [1]:
#Importing the library
import pandas as pd
import numpy as np
import requests
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
#importing the Web driver
driver=webdriver.Chrome(r"C:\Users\Ranjit M\chromedriver.exe")
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required.

In [2]:
#initializtion of url
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
driver.get(url)

In [3]:
#creating Empty list
job_titel=[]
job_loc=[]
company_name=[]
exp=[]

In [4]:
#Getting The Data for Job_Titel
job_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in job_tags:
    job_titel.append(i.text)
job_titel=job_titel[0:10]
job_titel

['Data Scientist/Data Analyst-immediate',
 'Immediate openings For MIS executive /Data analyst For Bangalore',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Procurement Data Analyst ( 0.6 To 3 Yrs, Bangalore)',
 'Data Analyst',
 'Data Analyst',
 'Business Analyst / Data Analyst']

In [5]:
loc_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in loc_tags:
    job_loc.append(i.text)
job_loc=job_loc[0:10]
job_loc

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru(Koramangala)',
 'Bengaluru',
 'Bengaluru, Kolkata',
 'Bengaluru']

In [6]:
name_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
for i in name_tags:
    company_name.append(i.text)
company_name=company_name[0:10]
company_name

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'RANDSTAD INDIA PVT LTD',
 'Applied Materials',
 'Cognizant Technology Solutions India Pvt Ltd',
 'St. John’s Research Institute',
 'Siemens Limited',
 'Sunstream Global Technologies LLP',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Schneider Electric India Pvt. Ltd.']

In [7]:
exp_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
for i in exp_tags:
    exp.append(i.text)
exp=exp[0:10]
exp

['0-3 Yrs',
 '3-8 Yrs',
 '6-11 Yrs',
 '2-3 Yrs',
 '0-4 Yrs',
 '0-3 Yrs',
 '0-3 Yrs',
 '2-7 Yrs',
 '3-4 Yrs',
 '2-5 Yrs']

In [8]:
#checking the length of each list
print(len(job_titel),len(company_name),len(job_loc),len(exp))

10 10 10 10

In [9]:
#creating a DataFrame
Data_Analyst_BLR=pd.DataFrame({"JOB_TITEL":job_titel,"COMPPANY_NAME":company_name,"EXPERIENCE":exp,"LOCATION":job_loc})
Data_Analyst_BLR

,JOB_TITEL,COMPPANY_NAME,EXPERIENCE,LOCATION
0,Data Scientist/Data Analyst-immediate,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
1,Immediate openings For MIS executive /Data ana...,RANDSTAD INDIA PVT LTD,3-8 Yrs,Bengaluru
2,Data Analyst,Applied Materials,6-11 Yrs,Bengaluru
3,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,2-3 Yrs,"Mumbai, Bengaluru, Hyderabad"
4,Data Analyst,St. John’s Research Institute,0-4 Yrs,Bengaluru
5,Data Analyst,Siemens Limited,0-3 Yrs,Bengaluru
6,"Procurement Data Analyst ( 0.6 To 3 Yrs, Banga...",Sunstream Global Technologies LLP,0-3 Yrs,Bengaluru(Koramangala)
7,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs,Bengaluru
8,Data Analyst,Cognizant Technology Solutions India Pvt Ltd,3-4 Yrs,"Bengaluru, Kolkata"
9,Business Analyst / Data Analyst,Schneider Electric India Pvt. Ltd.,2-5 Yrs,Bengaluru

In [10]:
Data_Analyst_BLR.to_csv("Data_Analyst_BLR.csv")

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description.

In [11]:
#creating Empty list
driver.get("https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore")
URl=[]
Job_titel=[]
Job_loc=[]
Company=[]
Description=[]
#getting the herf attribute for each page 
for i in list(driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")):
    URl.append(i.get_attribute('href'))
URl

['https://www.naukri.com/job-listings-data-scientist-data-analyst-immediate-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16119257559152031&xp=1&px=1',
 'https://www.naukri.com/job-listings-hcl-hiring-data-scientist-with-exp-in-machine-learning-sql-bangalore-hcl-technologies-limited-bengaluru-bangalore-5-to-10-years-190121001223?src=jobsearchDesk&sid=16119257559152031&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-blue-yonder-india-private-limited-bengaluru-bangalore-4-to-8-years-270121903312?src=jobsearchDesk&sid=16119257559152031&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-augmatrixgo-bengaluru-bangalore-2-to-5-years-140121905423?src=jobsearchDesk&sid=16119257559152031&xp=4&px=1',
 'https://www.naukri.com/job-listings-software-developer-data-scientist-nlp-machine-learning-cunesoft-india-private-limited-bengaluru-bangalore-3-to-6-years-190121001281?src=jobsearchDesk&sid=16119257559152031&xp=5&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-machine-deep-learning-nlp-tensorflow-fidius-advisory-bengaluru-bangalore-8-to-13-years-070720900498?src=jobsearchDesk&sid=16119257559152031&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-remote-working-doji-ltd-delhi-ncr-bengaluru-bangalore-anywhere-in-india-2-to-5-years-171220006270?src=jobsearchDesk&sid=16119257559152031&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-mailkit-private-limited-chennai-bhubaneshwar-pune-delhi-ncr-mumbai-bengaluru-bangalore-greater-noida-hyderabad-secunderabad-kolkata-4-to-9-years-280121007389?src=jobsearchDesk&sid=16119257559152031&xp=8&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-complete-remote-work-techolution-india-private-limited-chennai-pune-delhi-ncr-mumbai-bengaluru-bangalore-hyderabad-secunderabad-9-to-14-years-270121006193?src=jobsearchDesk&sid=16119257559152031&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bengaluru-bangalore-6-to-8-years-290121901186?src=jobsearchDesk&sid=16119257559152031&xp=10&px=1',
 'https://www.naukri.com/job-listings-data-scientist-healthcare-pharma-domain-preferred-genpact-india-private-limited-bengaluru-bangalore-6-to-10-years-070121010487?src=jobsearchDesk&sid=16119257559152031&xp=11&px=1',
 'https://www.naukri.com/job-listings-data-scientist-24-7-customer-private-ltd-bengaluru-bangalore-2-to-4-years-200121501017?src=jobsearchDesk&sid=16119257559152031&xp=12&px=1',
 'https://www.naukri.com/job-listings-data-scientist-capgemini-technology-services-india-limited-bengaluru-bangalore-6-to-9-years-280121905505?src=jobsearchDesk&sid=16119257559152031&xp=13&px=1',
 'https://www.naukri.com/job-listings-tech-mahindra-hiring-for-data-scientist-bangalore-tech-mahindra-ltd-bengaluru-bangalore-4-to-9-years-250121000733?src=jobsearchDesk&sid=16119257559152031&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-upgrad-education-pvt-ltd-mumbai-bengaluru-bangalore-4-to-6-years-091020003439?src=jobsearchDesk&sid=16119257559152031&xp=15&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-leading-data-science-firm-chennai-mumbai-bengaluru-bangalore-hyderabad-secunderabad-7-to-12-years-011020003194?src=jobsearchDesk&sid=16119257559152031&xp=16&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-yodlee-infotech-private-limited-bengaluru-bangalore-7-to-12-years-280121006434?src=jobsearchDesk&sid=16119257559152031&xp=17&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bengaluru-bangalore-4-to-7-years-150121902910?src=jobsearchDesk&sid=16119257559152031&xp=18&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-bangalore-banking-financial-domain-is-must-societe-generale-global-solution-centre-pvt-ltd-bengaluru-bangalore-5-to-10-years-250121002632?src=jobsearchDesk&sid=16119257559152031&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-scientist-machine-learning-ai-mastermind-network-delhi-ncr-mumbai-bengaluru-bangalore-5-to-10-years-200121001229?src=jobsearchDesk&sid=16119257559152031&xp=20&px=1']

In [12]:
for i in URl:
    driver.get(i)
    for i in list(driver.find_elements_by_xpath("// h1[@class='jd-header-title']")):
        Job_titel.append(i.text)

    for i in list(driver.find_elements_by_xpath("//span[@class='location ']")):
        Job_loc.append(i.text)

    for i in list(driver.find_elements_by_xpath("//a[@class='pad-rt-8']")):
        Company.append(i.text)
        
    for i in list(driver.find_elements_by_xpath("//div[@class='dang-inner-html']")):
        Description.append(i.text)

In [13]:
df=pd.DataFrame({"JOB_TITEL":Job_titel[:10],"LOCATION":Job_loc[:10],
                "COMPANY_NAME":Company[:10],"DESCRIPTION":Description[:10]})
df

,JOB_TITEL,LOCATION,COMPANY_NAME,DESCRIPTION
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,Dear Candidate\n\nSchedule a Telephonic Interv...
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,,"Dear Candidate,\n\nGreetings from HCL!!!\nWe a..."
2,Data Scientist - Machine Learning,Bengaluru,HCL Technologies Limited,Roles and Responsibilities\n\n\n- Selecting fe...
3,Software Developer - Data Scientist / NLP / Ma...,Bengaluru / Bangalore,,Roles and Responsibilities\nWe are looking for...
4,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",AugmatrixGo,Please note that this role will be Remote / Ho...
5,Data Scientist,"Chennai, Bhubaneshwar, Pune, Delhi NCR, Mumbai...",,Mailkit is an European Marketing Automation co...
6,Lead Data Scientist - Complete Remote Work,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Cunesoft India Private Limited,We are looking for qualified Lead Data Scienti...
7,Data Scientist,Bengaluru,,Introduction\nThe Data Scientist actively part...
8,Data Scientist,Bengaluru,Doji Ltd,"As a data scientist, you d be working towards ..."
9,Tech Mahindra hiring For Data Scientist- Banga...,Bengaluru,,Tech Mahindra hiring For Data Scientist- Banga...

In [14]:
df.to_csv("DATASCINTIST_BLR.csv",index=False)

# Q3 scrape data for “Data Scientist” designation for first 10 job results You have to scrape the job-title, job-location, company_name, experience_required

In [15]:
driver.get("https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6")
g=[]
job_titel=[]
company_name=[]
job_location=[]
exp=[]
d=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in d:
    g.append(i.get_attribute('href'))
for i in g:
    driver.get(i)
    for i in list(driver.find_elements_by_xpath("//h1[@class='jd-header-title']")):
        job_titel.append(i.text)
    for i in list(driver.find_elements_by_xpath("//span[@class='location ']")):
        job_location.append(i.text)
    for i in list(driver.find_elements_by_xpath("//div[@class='exp']/span")):
        exp.append(i.text)
    for i in list(driver.find_elements_by_xpath("//a[@class='pad-rt-8']")):
        company_name.append(i.text)
        
    
    time.sleep(5)

In [16]:
print(len(job_titel),len(job_location),len(exp),len(company_name))

0 0 0 0

In [17]:
Cmpny=company_name[::2]
Cmpny
Df=pd.DataFrame({"JOB_TITEL":job_titel[:10],"Company_Name":Cmpny[:10],"LOCATION":job_location[:10],"EXPERIENCE":exp[:10]})
Df.head()

Empty DataFrame
Columns: [JOB_TITEL, Company_Name, LOCATION, EXPERIENCE]
Index: []

In [18]:
Df.to_csv("Data_science_job_Delhi.csv",index=False)

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company(https://www.glassdoor.co.in/index.htm)

In [19]:
#creating Empy list
cmpny_name=[]
cmpny_rating=[]
no_of_days_post=[]
#Getting the url
driver.get("https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm")
for i in list(driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")):
    cmpny_name.append(i.text)#adding the company name in empty list
for i in list(driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")):
    cmpny_rating.append(i.text)#getting the company rating 
for i in list(driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")):
    no_of_days_post.append(i.text)#Getting the text of no of days applied  from the web and adding in empty list

In [20]:
#getting all the scrappped data in dataframe
Df1=pd.DataFrame({"COMPANY_NAME":cmpny_name[:10],"COMPANY_RATING":cmpny_rating[:10],
                 "NO_OF_DAYS_POST":no_of_days_post[:10]})
Df1.head()

                         COMPANY_NAME COMPANY_RATING NO_OF_DAYS_POST
0                             Genpact            3.8             13d
1                           BlackRock            4.1             23d
2  Builder.ai - What would you Build?            3.7              2d
3                            Brickred            3.7              6d
4                           BlackRock            4.1              3d

In [21]:
Df1.to_csv("Dtascience_Glass_door.csv",index=False)

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [22]:
#getting the url
driver.get("https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn")
#creating Empty list
company_name=[]
no_of_salary=[]
avg_salary=[]
min_salary=[]
max_salary=[]

In [23]:
for i in list(driver.find_elements_by_xpath("//p[@class='m-0 ']")):
    company_name.append(i.text)
for i in list(driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")):
    no_of_salary.append(i.text)
for i in list(driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")):
    avg_salary.append(i.text)
for i in list(driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")):
    min_salary.append(i.text)
for i in list(driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")):
    max_salary.append(i.text)

In [24]:
print(len(company_name),len(no_of_salary),len(avg_salary),len(min_salary),len(max_salary))

20 20 20 20 20

In [25]:
#putting into Dataframe
Df2=pd.DataFrame({"COMPANY_NAME":company_name[:10],"NO_OF_SALARY":no_of_salary[:10],
                 "AVERAGE_SALARY":avg_salary[:10],"MIN_SALARY":min_salary[:10],
                 "MAX_SALARY":max_salary[:10]})

In [26]:
Df2

,COMPANY_NAME,NO_OF_SALARY,AVERAGE_SALARY,MIN_SALARY,MAX_SALARY
0,Delhivery,13 salaries,"₹ 12,81,419",₹456K,"₹11,789K"
1,Ericsson-Worldwide,11 salaries,"₹ 7,52,052",₹420K,"₹1,636K"
2,Accenture,10 salaries,"₹ 9,98,925",₹585K,"₹2,200K"
3,Tata Consultancy Services,9 salaries,"₹ 6,02,000",₹336K,"₹1,024K"
4,IBM,9 salaries,"₹ 7,71,657",₹595K,"₹2,769K"
5,UnitedHealth Group,9 salaries,"₹ 13,55,346",₹727K,"₹1,597K"
6,Valiance Solutions,8 salaries,"₹ 7,91,015",₹509K,"₹1,168K"
7,Innovaccer,7 salaries,"₹ 12,15,138",₹629K,"₹1,719K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,21,889",₹804K,"₹1,281K"
9,ZS Associates,5 salaries,"₹ 10,00,000",₹205K,"₹1,835K"

In [27]:
#DataFrame to csv
Df2.to_csv("Salary_of_DataScientist.csv",index=False)

# Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [28]:
#getting the url
driver.get("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [29]:
#creating Empty list
brand=[]
description=[]
price=[]
discount=[]

In [30]:
#scrapping data 
#creating a loop for multi pages
for i in range(0,4):
    for i in list(driver.find_elements_by_xpath("//div[@class='_2WkVRV']")):
        brand.append(i.text)
    for i in list(driver.find_elements_by_xpath("//a[@class='IRpwTa']")):
        description.append(i.text)
    for i in list(driver.find_elements_by_xpath("//div[@class='_30jeq3']")):
        price.append(i.text)
    for i in list(driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")):
        discount.append(i.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(6)

In [31]:
#putting the list in Dataframe
flipkart=pd.DataFrame({"Brand":brand[:100],"DESCRIPTION":description[:100],
                      "PRICE":price[:100],"DISCOUNT":discount[:100]})
flipkart.head()

,Brand,DESCRIPTION,PRICE,DISCOUNT
0,ROYAL SON,UV Protection Retro Square Sunglasses (88),₹599,70% off
1,Royal Son,"Polarized, UV Protection Round Sunglasses (49)",₹664,66% off
2,like future,Mirrored Aviator Sunglasses (Free Size),₹181,83% off
3,shah collections,UV Protection Round Sunglasses (Free Size),₹349,79% off
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹699,12% off

In [32]:
#convert to csv file
flipkart.to_csv("FLIPKART_SUNGLASS.cvs",index=False)

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

In [33]:
#creating Empty list
Rating=[]
Review_summary=[]
Review=[]

In [34]:
#getting the Attibute
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace")
g=[]#creating empty list
for i in list(driver.find_elements_by_xpath("//div[@class='col JOpGWq']/a")):
    g.append(i.get_attribute('href'))

In [35]:
#getting data with for loop
for i in g:
    driver.get(i)
    for i in range(0,10):
        for i in list(driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")):
            Rating.append(i.text)
        for i in list(driver.find_elements_by_xpath("//p[@class='_2-N8zT']")):
            Review_summary.append(i.text)
        for i in list(driver.find_elements_by_xpath("//div[@class='t-ZTKy']")):
            Review.append(i.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()#next page    
    time.sleep(5)
        
print(len(Rating),len(Review_summary),len(Review))

100 100 100

In [36]:
#putting in a dataframe
Iphone=pd.DataFrame({"Rating":Rating,"Review_summary":Review_summary,"Full_Reviews":Review})
Iphone.head()

,Rating,Review_summary,Full_Reviews
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
3,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...

In [37]:
#convert to csv
Iphone.to_csv("Iphon_11_Reviews.csv",index=False)

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [38]:
#creating Empty list
Brand=[]
Description=[]
price=[]
discount=[]

In [39]:
driver.get("https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [40]:
for i in range(0,13):
    try:
        for i in list(driver.find_elements_by_xpath("//div[@class='_2WkVRV']")):
            Brand.append(i.text)
    except:
        Brand.append("NULL")
    try:
        for i in list(driver.find_elements_by_xpath("//a[@class='IRpwTa _2-ICcC']")):
            Description.append(i.text)
    except:
        Description.append("NULL")
    try:
        for i in list(driver.find_elements_by_xpath("//div[@class='_30jeq3']")):
            price.append(i.text)
    except:
        price.append("NULL")
    try:
        for i in list(driver.find_elements_by_xpath(("//div[@class='_3Ay6Sb']"))):
            discount.append(i.text)
    except:
        discount.append("NULL")
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(5)

In [44]:
#putting into dataFrame
sneakers=pd.DataFrame({"Brand":Brand[:100],"Description":Description[:100],
                      "Price":price[:100],"Discount":discount[:100]})
sneakers.head()

,Brand,Description,Price,Discount
0,Fzzirok,Premium quality Sneakers For Men,₹420,57% off
1,Airland,Sneakers For Men,₹298,40% off
2,Chevit,Casual Sneakers Shoes For Men Sneakers For Men,₹499,75% off
3,World Wear Footwear,Classy Sneakers For Men,₹499,75% off
4,Robbie jones,Sneakers For Men,₹399,60% off

In [45]:
#convert to csv 
sneakers.to_csv("sneakers_100.csv")

# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [48]:
driver.get("https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5899.0_11599.0_5899.0%20TO%2011599.0")

In [49]:
#creating empty list
Brand=[]
Description=[]
Price=[]

In [55]:
for i in range(0,4):
    for i in list(driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")):
        Brand.append(i.text)
    for i in list(driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[1]")):
        Description.append(i.text)
    for i in list(driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")):
         Price.append(i.text)
    driver.find_element_by_xpath("//li[@class='pagination-next']/a").click()
    time.sleep(5)

In [51]:
myntra=pd.DataFrame({"Brand":Brand[:100],"Description:Description":Description[:100],"Price":Price[:100]})

In [52]:
myntra.head()

    Brand       Description:Description      Price
0    Nike     Men REACT PHANTOM Running   Rs. 7799
1    Nike     Men JORDAN DELTA Sneakers   Rs. 6599
2    Nike  Men Solid SKYVE MAX Sneakers   Rs. 6999
3  Reebok    Forever Floatride Energy 2   Rs. 7799
4    ALDO           Men Leather Loafers  Rs. 11099

In [54]:
#convert to csv file
myntra.to_csv("myntra.csv")